<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RickAndMortyApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CC6BD1D2BECE97500E53D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC6BD3D2BED28F400E53D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC6BD4A2BED291900E53D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
